/* OVERALL PAGE STYLES */
.titleBanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(216, 206, 177);
    padding: 40px;

}
.tabList{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tabButton{
    border: none;
    background: none;
    height: 100%;
    width: fit-content;
    cursor: pointer;
    padding: 8px 4px;
    margin: 0 0.45px;
    font-size: 1.2rem;
    border-bottom: 2px solid lightgray;
    
}
.tabButton.active{
    color: rgb(129, 155, 87);  
    font-weight: bold;
    border-bottom: 3px solid rgb(129, 155, 87);
    transition: all 0.1s;
}
.tabContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid lightgray;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    
}
.sectionTitleField{
    font-weight: bold;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid lightgray;
        
}
.sectionContent{
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 24px;
    align-content: left;
    width: 800px;
    /* Looked up cool box shadow effects online to look for elevation */
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.additionalFields{
    padding: 0px 5px;
}
.additionalValues{
    padding: 0px 10px;
    width: 40%;
    min-width: 200px;
    height: 30px;
}


/* PASSWORD SECTION */
.showHideButton{
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(129, 155, 87);
    font-size: 1.2rem;
    border-radius: 32px;

}
.inputContainer {
    display: flex;
    align-items: center;
}
.showHideButton img {
    width: 30px; 
    height: 30px; 
    fill: rgb(129, 155, 87); 
}


/* ACCOUNT DELETION SECTION */
#deleteAccountSection{
    gap: 20px;
    border: 5px;
}
#accountDelBtn{
    color: rgb(155, 89, 87);
    cursor: pointer;
}
#accountDelBtn:hover{
    color: rgb(255, 97, 87);
    transition: all 0.1s;
}
#accountDelBtn.active{
    color: rgb(255, 97, 87);
    border-color: rgb(255, 97, 87);
    transition: all 0.1s;
}
.confirmDialogOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.confirmDialogBox {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.confirmationButton{
    background-color: rgb(155, 89, 87);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0 10px;
    cursor: pointer;
}
.confirmationButton:hover{
    background-color: rgb(201, 39, 33);
    transition: all 0.1s;
}
.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.cancelButton{
    background-color: rgb(129, 155, 87);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0 10px;
    cursor: pointer;
}
.cancelButton:hover{
    background-color: rgb(133, 196, 32);
    transition: all 0.1s;
}
#deleteAccountButton{
    
    background-color: rgb(155, 89, 87);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 20px 10px;
    cursor: pointer;
}
#deleteAccountButton:hover{
    background-color: rgb(201, 39, 33);
    transition: all 0.1s;
}
