footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer p {
    color: #888;
    font-size: 14px;
}

/* Make visible only at bottom */
body {
  position: relative;
  min-height:100vh; 
  margin:0; 
}

body::after {
  content: '';
  display: block;
  height: 50px; 
}